# OPENAI_API_KEY=
# GOOGLE_API_KEY=
# ANTHROPIC_API_KEY=
# XAI_API_KEY=
# OPENROUTER_API_KEY=
# ALPHA_VANTAGE_API_KEY=
LLM_PROVIDER=ollama
DEEP_THINK_LLM=qwen3.5:397b-cloud
QUICK_THINK_LLM=gpt-oss:120b-cloud
